.content {
  padding: 20px 8px;
  display: grid;
  gap: 16px;
}

.question {
  font-size: 14px;
  font-weight: 500;
  line-height: 21.88px;
}

.addressWrapper {
  display: grid;
  gap: 8px;
  padding: 8px;
  background-color: rgba(242, 242, 242, 1);
}

.name {
  font-size: 14px;
  font-weight: 600;
  line-height: 21.88px;
}

.address {
  color: var(--placeholder-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 18.75px;
}
