:root {
  --background: rgba(255, 255, 255, 1);
  --main-text: rgba(0, 0, 0, 1);
  --secondary-text: rgba(128, 128, 128, 1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-text);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
