:root {
  --background: rgba(255, 255, 255, 1);
  --main-text: rgba(0, 0, 0, 1);
  --secondary-text: rgba(128, 128, 128, 1);
  --input-text: rgba(64, 64, 64, 1);
  --placeholder-text: rgba(117, 117, 117, 1);
  --error: rgba(230, 31, 16, 1);
  --address-color: rgba(255, 196, 83, 1);
  --success: rgba(52, 168, 98, 1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

button,
input {
  font-family: inherit;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  appearance: textfield; /* For Firefox */
}

body {
  color: var(--main-text);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
