.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 6px;
  align-items: baseline;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.info {
  display: grid;
  align-items: center;
  gap: 8px;
}

.text {
  color: var(--placeholder-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 18.75px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  line-height: 21.88px;
}

.close {
  cursor: pointer;
  border: none;
  background: inherit;
}
